<div class="row">
	<div class="col-md-10 col-sm-10 col-xs-12">
	<%= form_tag(produtos_path, method: "get") do %>
	  <%= label_tag(:pdescricao, "Descrição:") %>
	  <%= text_field_tag(:pdescricao,  @pdescricao) %>
		<br>
	  <%= label_tag(:pcategoria, "Categoria:") %>
	  
	<%= select_tag :pcategoria, options_for_select(Categoria.all.map{ |p| [p.descricao, p.id] }.insert(0,""),selected:@pcategoria)%>
	  
	  
	  <br><br>
	  <%= submit_tag 'Filtrar', class: 'btn btn-default' %>
	<% end %>
	</div>
